---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">News</h1>
  
   <ul class="post-list">
     {% for post in site.posts %}
       <li>
         {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
         <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}:</a> 
        </h2> 
	<p><a class="post-link" href="{{ post.url | relative_url }}"><img hspace="20" align="left" src="{{post.image | relative_url}}" height="100" width="100"></img></a> {{ post.preview }} <a href="{{ post.url | relative_url }}" >More information.</a> </p>
      </li>
    {% endfor %}
  </ul> 

<!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
</div>
